@import "../../styles/root/mixins";

.LandingPage {
  @include make-flex($just: flex-start);
  min-height: 100vh;
  background: var(--gradient, linear-gradient(180deg, #ECDDCE 0%, #FFFFFF 55%));

  &__mainContainer {
    // @include box();
    // height: auto;
    width: 100%;
    // @include make-flex($just: flex-start, $align: flex-start);
    @include make-flex($just: flex-start);
    padding: 0px !important;
    gap: 50px;
    // max-width: 1585px;

    min-height: calc(100% - 110px);

    // background-color: aqua;

    // padding: 0px 170px 0px;
    // padding: 0px 0px 0px 130px;

    transition: padding 0.5s ease-in-out, filter 0.5s;

    // @include respondAt(1525px) {
    //   padding: 0 130px 0px;
    // }
    // @include respondAt(1335px) {
    //   padding: 0 90px 0px;
    // }
    // @include respondAt(1135px) {
    //   padding: 0 40px;
    // }
    // @include respondAt(470px) {
    //   padding: 0 0;
    // }
  }

  .heroSection {
    // @include box($height: calc(100vh - 200px));
    @include make-flex($just: flex-start);
    // max-height: 720px;
    width: 100%;

    gap: 65px;
    padding: 0px 0px 0px 0px;
    @include respondAt(575px) {
      padding: 0px 0px 0px 4.5px;
      gap: 60px !important;
    }

    &__top {
      // @include box($height: 75%);
      @include box($height: 100%);
      @include make-flex($dir: row, $align: flex-start, $just: flex-start);
      // padding: 50px 0;

      @include respondAt(1135px) {
        padding: 0 0;
      }

      @include respondAt(1095px) {
        flex-direction: column;
        gap: 20px;
      }

      &--left,
      &--right {
        @include box(50%);
        @include respondAt(1095px) {
          padding-top: 0;
          align-items: center;
        }

        @include respondAt(935px) {
          @include box(80%);
        }

        @include respondAt(670px) {
          @include box();
        }

        @include respondAt(470px) {
          padding: 0 30px;
        }

        @include respondAt(335px) {
          padding: 15px;
        }
      }

      &--left {
        @include make-flex($align: flex-start, $just: flex-start);
        gap: 20px;
        // margin-top: -30px;
        position: relative;
      }
      &--right {
        @include make-flex($align: flex-end, $just: flex-start);
        // padding-top: 115px;
        position: absolute;
        top: 20px;
        right: 20px;
        gap: 15px;

        @include respondAt(1095px) {
          padding-top: 0;
        }
        @include respondAt(935px) {
          display: none;
        }
      }
    }

    &__title {
      &--highlight {
        // padding: 0px 5px 0px 5px;
        // color: var(--highlightTextColor);
        // background-color: var(--titleHighlight);

        background: var(--gradient, linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // font-family: ;
        // font-size: 79.633px;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 116.45%;
        @include respondAt(575px) {
          // font-size: 9vw;
          font-size: 2.1rem;
          line-height: 116%;
        }
      }

      &--unhighlight {
        color: var(--unhighlightTextColor);
      }

      h1 {
        margin: 5px 0 0px 0;

        @include box(100%, auto);
        font-family: "Poppins", sans-serif;
        // font-size: 72px;
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 116.45%;
        // line-height: 75px;
        color: #000; //new :p
        font-weight: 400;//also new :p
        // color: var(--textColor);
        transition: font-size 0.5s ease-in-out;

        @include respondAt(1400px) {
          font-size: 60px;
        }
        @include respondAt(1200px) {
          font-size: 50px;
        }

        @include respondAt(575px) {
          // font-size: 9vw;
          font-size: 2.1rem;
          line-height: 116%;
        }

        // @include respondAt(505px) {
        //   font-size: 9vw;
        //   line-height: 50px;
        // }
      }
    }

    &__desc {
      // font-family: "Poppins", sans-serif;
      font-family: AcidGroteskRegular;
      color: var(--primaryTextColor);
      color: #000;
      font-weight: 400;
      line-height: 167.5%;
      margin-bottom: 15px;
      // font-size: 20px;
      font-size: 1.1rem;
      @include box(90%, auto);

      @include respondAt(575px) {
        @include box(100%, auto);
        font-size: .9rem;
      }

      // @include respondAt(670px) {
      // }
    }

    &__buttons {
      @include make-flex($dir: row, $align: flex-start);
      gap: 30px;
      @include respondAt(575px){
        gap: 20px;
      }

      &--navigateButton {
        border: 1.994px solid var(--light-smoke, #3E3E3E);
        background: var(--dark-smoke, #181818);
      }

      &--snugpt {
          background: var(--gradient, linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%));
          font-size: 15.638px;
          border: none;
      }

      &--button {
        padding: 27.914px 11.206px !important;
        width: 170px;
        border-radius: 11.963px;
        color: var(--white);
        text-align: center;
        font-family: PowerGroteskTrial;
        font-size: 19.5px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include respondAt(575px){
          width: 120px;
          padding: 20px 11.206px !important;
          border-radius: 5px;
          font-size: 13.5px;
        }
      }
    }

    &__users {
      @include make-flex($dir: row, $just: center, $align: center);
      //width: 100%;
      //gap: 70px;
      width: 100%;
      gap:40px;
      margin-top:30px;
      @include respondAt(575px){
        gap: 5px;
        flex-direction: row;
        justify-content: flex-start;
      }
      &--left {
        @include box($width: fit-content);
        @include make-flex($dir: column);
      }

      &--right {
        // @include box(75%);
        @include make-flex($dir: row, $align: center, $just: space-between);
        gap: -20px;
        // width: 435px;
        // height: 100px;
        padding: 7px 10px 6px 10px;
        // @include box($width: fit-content);
        @include respondAt(575px){
          //display: inline-flexbox;
          width: 190px;
          //gap: 20px;
          padding: 5px 7px 4px 7px;
          box-sizing: content-box;
        }
        border-radius: 65px;
        background: var(--gradient, linear-gradient(90deg, #71191B 0%, #891E21 35%, #D73033 100%));
        opacity: 0.95;
      }

      &--userImageArrowImg {
        max-width: 60px;
        @include respondAt(575px){
          max-width: 25px;
        }
      }

      &--userImage {
        max-width: 60%;
        /*@include respondAt(505px)
        {
          width: 100%;
          box-sizing: content-box; 
        }*/
      }
    }

    &__usersData {
      &--count {
        color: #000;
        font-family: NohemiBold;
        // font-size: 62.5px;
        font-size: 3rem;
        @include respondAt(575px){
          font-size: 2.3rem;;
        }
        // font-style: normal;
        // font-weight: 700;
        // line-height: normal;
      }

      &--text {
        max-width: 120px;
        margin-top: -12px;
        color: var(--light-smoke, #3E3E3E);
        // font-family: AcidGroteskRegular;
        // font-size: 17.829px;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 122.45%; /* 24.28px */
        @include respondAt(575px){
          font-size: 0.7rem;
        }
      }
    }

    // &__callToAction {
    //   @include box(55%, auto);
    //   @include make-flex($just: flex-start, $dir: row);
    //   gap: 25px;
    // }

    &__bottom {
      @include box($height: 25%);
      @include make-flex($dir: row, $just: space-between);

      @include respondAt(935px) {
        @include box(80%);
      }

      @include respondAt(670px) {
        @include box();
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
      }
      @include respondAt(470px) {
        padding: 0 30px;
      }
    }

    &__arrow {
      @include box(45%, auto);
      @include make-flex($just: flex-end);
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(50%);
      // color: var(--blue);
      filter: var(--arrowSvgFilter);

      @include respondAt(1095px) {
        display: none;
      }
    }

    &__funFact {
      @include make-flex($dir: row, $just: flex-start);
      @include box(78%, auto);
      flex-wrap: wrap;
      span,
      p {
        font-weight: 600;
        font-size: 14px;
        font-family: "Space Grotesk", sans-serif;
      }
      span {
        color: var(--primaryTextColor);
      }
      p {
        color: var(--pink);
      }

      @include respondAt(1095px) {
        @include box(100%, auto);
      }
    }

    &__instagramDiv {
      @include make-flex($just: flex-start, $align: flex-start);
      @include box(80%, 15px);
      margin-bottom: 10px;
      color: var(--textColor);
      @include respondAt(1095px) {
        @include box(100%, 15px);
      }
      &--instaHandle {
        @include box();
        padding-top: 0%;
        @include make-flex($dir: row, $just: flex-start);
        flex-basis: baseline;
        @include respondAt(1095px) {
          padding-top: 0;
          height: 30px;
        }
        a {
          padding-top: 4%;
          font-family: "Poppins";
          font-style: normal;
          text-decoration: none;
          color: var(--blue);
          font-weight: 450;
          font-size: 16px;
          margin-right: 15px;
          @include respondAt(1095px) {
            padding-top: 7.5%;
          }
          @include respondAt(1070px) {
            padding-top: 1.5%;
          }
        }
        &--instaLogo {
          display: inline;
          width: 17px;
          vertical-align: middle;
          margin-right: 10px;
          filter: var(--svgfilter);
        }
      }
      &--text {
        margin-top: 10px;
        display: inline;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        color: var(--primaryTextColor);
      }
    }

    &__stats {
      @include box(auto, auto);
      @include make-flex();
      gap: 15px;
      &--title,
      &--stat {
        font-weight: 600;
        font-family: "Space Grotesk", sans-serif;
        white-space: nowrap;
      }

      &--title {
        font-weight: 700;
        color: var(--blue);
        font-size: 15px;
      }

      &--stat {
        color: var(--textColor);
        font-size: 45px;

        @include respondAt(935px) {
          font-size: 35px;
        }

        @include respondAt(670px) {
          font-size: 30px;
        }
      }
    }

    @include respondAt(1095px) {
      gap: 80px;
      width: 100%;
    }
    @include respondAtAlt(780px) {
      // padding-bottom: 40px;
      // margin-bottom: 350px;
      padding-bottom: 40px;
      margin-bottom: 20px;
    }
    @include respondAt(335px) {
      gap: 115px;
    }
  }

  .featureSection {
    padding: 0px 0px 0px 130px;
    @include make-flex($dir: column, $align: flex-start);
    // flex-wrap: nowrap;
    // overflow-x: auto;
    // width: 100%;

    &__bottom {
      @include box(100%);
      height: 100%;
    }

    // &__top, &__bottom {
    //   @include box(100%);
    //   height: 100%;
    // }

    &__top {
      @include box(50%);
      &--button {
        border-radius: 14px;
        background: rgba(206, 233, 255, 0.60);
        border: none;
        color: var(--black, #000);
        font-family: AcidGroteskRegular;
        font-style: normal;
        line-height: 146.95%; /* 40.295px */
        margin-bottom: 20px;
        // padding: 18px 26px;
      }
    }

    &--desc {
      // font-family: "Poppins", sans-serif;
      font-family: AcidGroteskRegular;
      color: #000;
      font-weight: 400;
      line-height: 167.5%;
      margin-bottom: 20px;
      font-size: 1.1rem;
      // font-size: 20px;

      // color: var(--black, #000);
      // font-family: AcidGroteskRegular;
      // font-size: 1.3rem;
      // font-style: normal;
      // font-weight: 400;
      // line-height: 146.95%; /* 40.295px */
      // margin-bottom: 30px;
    }

    &__title {
      font-style: normal;
      margin-bottom: 20px;
      &--highlight {
        background: var(--gradient, linear-gradient(135deg, #6F00FF 0%, #492CFF 47.81%, #00A3FF 100%));
        font-weight: 400;
        font-size: 3.5rem;
        font-family: AcidGroteskRegular;
        line-height: 116.45%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &--unhighlight {
        line-height: 116.45%;
        font-size: 3.5rem;
        font-family: AcidGroteskRegular;
        font-weight: 400;
        color: var(--black);
      }
    }

    &__bottom {
      @include make-flex($dir: row, $align: flex-start);
      // overflow-x: scroll;
      gap: 20px;
    }

    @include respondAt(575px) {
      padding: 0px 30px;
      &__top {
        width: 100%;
          &--button {
              border-radius: 8px;
              height: 30px;
              width: 140px;
              padding: 0px !important;
          }
      }

      &--desc {
        font-size: 0.9rem;
      }

      &__bottom {
        gap: 0px;
        display: inline;
      }

      &__title {
        &--highlight, h1 {
            font-size: 2.1rem;
            line-height: 116%;
        } 
      }
    }

  }

  .aboutSection {
    @include box();
    &__PlaceHolder {
      height: 300px;
      width: 400px;
      background: red;
    }

    .stickyLabel {
      position: sticky;
      top: 0;
    }

    &__View1 {
      @include respondAt(780px) {
        display: none;
      }
      height: 100vh;
    }
    &__View2 {
      @include respondAt(780px) {
        display: none;
      }
      height: 100vh;
    }
    &__View3 {
      @include respondAt(780px) {
        display: none;
      }
      height: 100vh;
    }
  }
}


.convocation {
  @include make-flex($dir: row, $align: none);

  padding: 0px 0px 0px 0px;
  width: 100%;
  margin: 0 auto;
  @include respondAt(575px) {
    padding: 0px 0px 0px 0px;
    //width: 400px;
    width: 100%;
    max-width: 100%px;
    gap: 0px !important;
    overflow-x: clip;
    //justify-content: space-between;
    //width:200px;
    //margin-top: -20px;
  }

  &__left{
    width:300px;
    //left: 0px;
    //position: relative;
    @include respondAt(575px) {
      width: 100%;
    }
    margin-left: 0px;
    &--img{
      position: relative;
      top:140px;
      margin-left: 0;
      //left: -200px;

      width:200px;
      height:200px;

      @include respondAt(575px) {
        left: 30px;
        top:300px;
        width:70px;
        height: 70px;
      }
    }
  }

  &__middle{
    width:550px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @include respondAt(575px){
      width: 100%;
    }
  }

  &__hat{
    width: 120px;
    height: auto;
    padding: 0;
    margin-bottom: -25px;
    margin-left: -25px;
    @include respondAt(575px) {
      width: 90px;
      height: auto;
      margin-bottom: -15px;
      margin-left: -5px;
    }
  }

  &__title {
    &--highlight {

      background: var(--gradient, linear-gradient(90deg, #71191B 0%, #891E21 35%, #D73033 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // font-family: ;
      // font-size: 79.633px;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 350;
      line-height: 100%;
      @include respondAt(575px) {
        // font-size: 9vw;
        font-size: 2.1rem;
        line-height: 100%;
      }
    }

    &--unhighlight {
      color: var(--unhighlightTextColor);
    }

    h1 {
      margin: 0px 0 0px 0;
      text-align: center;
      display: inline-block;
      @include box(100%, auto);
      position: relative;
      font-family: "Poppins", sans-serif;
      // font-size: 72px;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 116.45%;
      // line-height: 75px;
      color: #000; //new :p
      font-weight: 400;//also new :p
      // color: var(--textColor);
      transition: font-size 0.5s ease-in-out;

      @include respondAt(1400px) {
        font-size: 60px;
      }
      @include respondAt(1200px) {
        font-size: 50px;
      }

      @include respondAt(575px) {
        // font-size: 9vw;
        font-size: 2.1rem;
        line-height: 116%;
      }

      // @include respondAt(505px) {
      //   font-size: 9vw;
      //   line-height: 50px;
      // }
    }
  }

  &__desc {
    // font-family: "Poppins", sans-serif;
    font-family: AcidGroteskRegular;
    color: var(--primaryTextColor);
    color: #000;
    font-weight: 400;
    line-height: 167.5%;
    margin-bottom: 15px;
    margin-top: 15px;
    // font-size: 20px;
    //margin: 0px;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
    @include box(100%, auto);

    @include respondAt(575px) {
      @include box(100%, auto);
      font-size: .9rem;
    }

    // @include respondAt(670px) {
    // }
  }

  &__buttons {
    @include make-flex($dir: row, $align: flex-start);
    gap: 30px;
    @include respondAt(575px){
      gap: 20px;
    }

    &--navigateButton {
      border: none;
      padding: 1.994px solid var(--light-smoke, #3E3E3E);
      //outline-offset: -1.994px;
      background: var(--dark-smoke, #181818);
      /*&:hover {
        background-color: var(--gradient, linear-gradient(135deg, #71191B 0%, #891E21 35%, #D73033 100%));
      }*/
    }

    &--snugpt {
      background: var(--gradient, linear-gradient(135deg, #71191B 0%, #891E21 35%, #D73033 100%));
        //font-size: 15.638px;
        border:none;
        //border: 1.994px var(--gradient, linear-gradient(135deg, #71191B 0%, #891E21 35%, #D73033 100%));
    }

    &--button {
      padding: 27.914px 11.206px !important;
      width: 210px;
      border-radius: 11.963px;
      color: var(--white);
      text-align: center;
      font-family: PowerGroteskTrial;
      font-size: 21.5px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @include respondAt(575px){
        width: 120px;
        padding: 20px 11.206px !important;
        border-radius: 5px;
        font-size: 13.5px;
      }
    }
  }

  &__right{
    width:300px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    gap:280px;
    justify-content: right;
    align-items: right;
    @include respondAt(575px) {
      gap:0px;
      justify-content: left;
      width:100%;
      //margin-right: 40px;
      //margin-right: 10px;
    }
    //align-items: right;
    &--img{
      //display: grid;
      width:100px;
      height:100px;
      position: relative;
      right: -200px;
      //margin-right: -20px;
      //align-items: right;
      //justify-self: right;
      @include respondAt(575px) {
        top: -30px;
        //margin-right: 40px;
        width:70px;
        height: 70px;
        right:40px;
      }
    }

    &--cards{
      width:300px;
      height:auto;
      @include respondAt(575px) {
        display: none;
      }
    }
  }


}